## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop (columns = ['EIN'], axis = 1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [8]:
name_counts = application_df ['NAME'].value_counts()
name_counts

NAME
Other                                            19179
PARENT BOOSTER USA INC                            1260
TOPS CLUB INC                                      765
UNITED STATES BOWLING CONGRESS INC                 700
WASHINGTON STATE UNIVERSITY                        492
                                                 ...
MINDANAO ALLIANCE USA                                1
TRR WILDLAND VFD                                     1
YOUNG PEOPLES PLACE                                  1
CANYON LAKE HIGH SCHOOL ATHLETIC BOOSTER CLUB        1
WATERHOUSE CHARITABLE TR                             1
Name: count, Length: 1027, dtype: int64

In [10]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_counts[name_counts < 10].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure replacement was successful
application_df['NAME'].value_counts()

NAME
Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: count, Length: 223, dtype: int64

In [11]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df ['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [12]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [13]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_type_counts = application_df['CLASSIFICATION'].value_counts()
classification_type_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [14]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_type_counts_gt1 = classification_type_counts[classification_type_counts > 1]
classification_type_counts_gt1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (classification_type_counts[classification_type_counts < 200].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: count, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [17]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop('IS_SUCCESSFUL', axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 16
hidden_nodes_layer2 = 8
#hidden_nodes_layer3 = 32

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                4304

 dense_1 (Dense)             (None, 8)                 136

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 4449 (17.38 KB)
Trainable params: 4449 (17.38 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=40)

Epoch 1/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5228 - accuracy: 0.7500
Epoch 2/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4458 - accuracy: 0.7837
Epoch 3/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4393 - accuracy: 0.7856
Epoch 4/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4369 - accuracy: 0.7872
Epoch 5/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4360 - accuracy: 0.7875
Epoch 6/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4348 - accuracy: 0.7883
Epoch 7/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4337 - accuracy: 0.7881
Epoch 8/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4334 - accuracy: 0.7882
Epoch 9/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4322 - accuracy: 0.7894
Epoch 10/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4323 - accuracy: 0.7897
Epoch 11/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4312 - accuracy: 0.7902
Epoch 12/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4309 - accuracy: 0.7893
Epoch 13/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4310 - accuracy: 0.7897
Epoch 14/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4303 - accuracy: 0.7911
Epoch 15/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4299 - accuracy: 0.7913
Epoch 16/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4295 - accuracy: 0.7910
Epoch 17/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4293 - accuracy: 0.7920
Epoch 18/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4291 - accuracy: 0.7917
Epoch 19/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4286 - accuracy: 0.7920
Epoch 20/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4282 - accuracy: 0.7914
Epoch 21/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4279 - accuracy: 0.7929
Epoch 22/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7919
Epoch 23/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4277 - accuracy: 0.7927
Epoch 24/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4275 - accuracy: 0.7920
Epoch 25/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4274 - accuracy: 0.7919
Epoch 26/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4271 - accuracy: 0.7924
Epoch 27/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7932
Epoch 28/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4263 - accuracy: 0.7937
Epoch 29/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4262 - accuracy: 0.7935
Epoch 30/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4260 - accuracy: 0.7942
Epoch 31/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4258 - accuracy: 0.7938
Epoch 32/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4259 - accuracy: 0.7938
Epoch 33/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4254 - accuracy: 0.7930
Epoch 34/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4257 - accuracy: 0.7943
Epoch 35/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4254 - accuracy: 0.7939
Epoch 36/40
804/804 [==============================] - 2s 3ms/step - loss: 0.4250 - accuracy: 0.7940
Epoch 37/40
804/804 [==============================] - 2s 2ms/step - loss: 0.4251 - accuracy: 0.7943
Epoch 38/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4248 - accuracy: 0.7932
Epoch 39/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4246 - accuracy: 0.7946
Epoch 40/40
804/804 [==============================] - 1s 2ms/step - loss: 0.4243 - accuracy: 0.7944

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4594 - accuracy: 0.7791 - 708ms/epoch - 3ms/step
Loss: 0.45942944288253784, Accuracy: 0.7791253924369812

In [23]:
# Export our model to HDF5 file
filename = 'AlphabetSoupCharity_Optimization3.h5'

nn.save(filename)

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(